<%- include('header') %>
<div class="main-text text-center mt-5 mx-5 mb-0 lh-sm main-container">
  <div class="mb-4 about-header">ABOUT</div>
  <div class="row">
    <div class="col-xxl-2"></div>
    <div class="col-lg-6 col-xxl-4 col-md-8 mx-auto">
      <img class="dev-profile" src="img/avatar_shake.png" alt="profile" />
    </div>
    <div class="col-lg-6 col-xxl-4 col-md-8 mx-auto">
      <div class="short-info-title mb-2">Hi! I'm Mark</div>
      <div class="short-info mb-2 mb-lg-5">
        I develop something that can be useful to someone, and I hope you like
        my work :)
      </div>
      <div>
        <a
          href="https://www.buymeacoffee.com/marknam2011"
          class="btn bmc-btn-container donation-text"
          tabindex="-1"
          role="button"
          target="_blank"
          ><img
            src="img/bmc-logo-no-background.png"
            alt="bmc"
            class="donation-icon"
          />Buy me a coffee </a
        >
      </div>
    </div>
    <div class="col-xxl-2"></div>
  </div>
</div>
<%- include('footer') %>
