<%- include('header') %>
<div class="main-text mx-2 my-4 m-lg-5 lh-sm main-container">
  <div class="error-message text-center">--ON DEVELOPMENT--</div>
  <div class="error-message-des text-center">현재 개발 중인 기능이에요...</div>
</div>
<%- include('footer') %>
