<%- include('form-header') %>
<div class="container" id="container">
    <div class="resetPasswordFormContainer">
        <form id="resetPasswordForm" action="/auth/reset-password">
            <h1>비밀번호 재설정</h1>
            <input name="newPassword" type="password" placeholder="새로운 비밀번호" value=""/>
            <input name="newPassword-check" type="newPassword-check" placeholder="비밀번호 재입력" value=""/>
            <button class="submit-button">재설정</button>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include('form-footer') %>
<script>
    async function handleFormSubmission(event) {
    event.preventDefault();
    // check if new password marches
    const formData = new FormData(event.target);
    const jsonData = {};
    formData.forEach((value, key) => {
        if(key === 'newPassword'){
            jsonData[key] = value;
        }
    });
    const url = window.location.href;
    const parts = url.split('/');
    const token = parts[parts.length - 1].split('&')[0];
    const userId = parts[parts.length - 1].split('&')[1];
    jsonData['token'] = token;
    jsonData['userId'] = userId;
    showLoading();
    try{
      const result = await sendPostRequest(event.target.action, jsonData);
    }catch(error){
        hideLoading();
        errorPopup(error.response.data.message);
    }finally{
        hideLoading();
        messagePopup('비밀번호 재설정 완료, (현 패이지는 3초 후 자동으로 닫힙니다.)');
        setTimeout(function () {
            window.close();
        }, 3000);
    }
  }

  document.getElementById('resetPasswordForm').addEventListener('submit', handleFormSubmission);
</script>
